.background {
    background-color: #232323;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 90px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.navbarItems {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    color: #fff;
    list-style: none;
}

.navbarItem {
    cursor: pointer;
    padding: 20px;
    transition: all .3s ease;
    border-bottom: 3px solid #232323;
}

.navbarItem:hover {
    background-color: #080808;
}

.navbarItemActive {
    cursor: pointer;
    padding: 20px;
    transition: all .3s ease;
    border-bottom: 3px solid #F65261;
}

.navbarItemActive:hover {
    background-color: #080808;
}

.selectContainer {
    width: 30%;
    height: 50px;
    position: relative;
}

.selectInput {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.selectInputRow {
    position: absolute;
    right: 31.91%;
    top: 20%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent #F65261 transparent;
}

.sortBySelect {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    text-align: right;
}

.secondaryText {
    color: #fff;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-right: 30px;
}

.grayStrike {
    flex-basis: 100%;
    background-color: #555555;
    width: 100%;
    height: 2px;
    margin-top: 10px;
}

.emptyMessage {
    color: #fff;
}

.moviesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 90px;
}

.movieItem {
    flex-basis: calc(33% - 40px);
    margin: 20px 20px;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.movieTitle {
    margin-bottom: 0;
}

.movieDate {
    margin-bottom: 0;
    padding: 5px;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 1px solid #979797;
    border-radius: 4px;
}

.genres {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}