body {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  background-color: #424242;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}